@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply px-6 py-2 border-[#242424] rounded-full uppercase text-sm tracking-widest transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40
    }

    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[242424] text-white placeholder-gray-500 transition-all focus:border-orange-400/40 focus:text-[#F7AB0A]/40
    }

}

html {
    scroll-behavior: smooth;
}

.bg-new {
    /* aspect-ratio: 1/1; */
    background: linear-gradient(#7209b7, #4895ef);
    border-radius: 50%;
    filter: blur(clamp(56px, 10vw, 80px)) brightness(80%);
    /* top: 0; */
}

.circle {
        aspect-ratio: 1/1;
        background: linear-gradient(#7209b7, #4895ef);
        border-radius: 50%;
        filter: blur(clamp(56px, 10vw, 80px)) brightness(80%);
        left: 50px;
}

.card {
    backdrop-filter: saturate(180%) blur(14px);
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
}

.skillsCard {
        backdrop-filter: saturate(180%) blur(14px);
        background: rgba(0, 0, 0, 0.2);
        border-radius: 25px;
        outline: 1px solid #7109b76c;
}









.playArea {
    border: 5px solid transparent;
    width: 585px;
    height: 440px;
    position: fixed;
    top: 43.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}

#fruit {
    display: none;
}

.monitor {
    width: 800px;
    height: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameOver {
    position: fixed;
    top: 43.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
}

.playButton {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: #502c7b;
    border: 2px solid white;
    padding: 10px;
    font-size: 0.9em;
    color: white;
    box-shadow: 4px 4px 0px 0px white;
    font-family: 'Press Start 2P', cursive;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.scoreBox {
    float: right;
    margin: 30px;
    /* border: 1px solid black; */
    margin-top: 50px;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(48, 26, 74, 0.63);
    box-shadow: 0px 4px 13px 0px rgba(48, 26, 74, 0.63);
}

h2 {
    font-size: 18px;
    padding: 10px;
}

.ui {
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(14px) saturate(160%);
}